@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg-main: #1a1a1a;
  --color-main: #c2c2c2;
  --content-width: 900px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  height: 100dvh;
  color: var(--color-main);
  background: var(--bg-main);
  /* background-image: linear-gradient(360deg, #1d1d1d 0%, #1e1e1e 100%); */
  line-height: 1.6;
  font-family: 'Roboto', 'Aria', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

input {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  color: #c2c2c2 !important;
  opacity: 0.5;
}

input:focus {
  outline: 1px solid rgb(200, 200, 200);
}
